*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
  
} 

.navbar-collapse {
    z-index: 1000; 
}

#hero1{
    margin-top:-50px;
    width: 100%;
    overflow-x: hidden;
    
}


#img1{
    z-index: 3;
    margin-top: -10px;
    margin-left: 5px;
    width: 454px;
    height: 454px;
    opacity:0.9 ;
}
.h1{
    
    margin-top:300px;
    margin-left: 25px;
    font-weight: bold;
    width: 773px;
    height: 312px;
    font-size: 94px;
    line-height: 92px;
    z-index: 1;
    
}

span{
    color: #8A47F6;
}
#img2{

    z-index: 3;
    position: absolute;
    margin-top: 350px;
    margin-left: -460px;
    width: 454px;
    height: 454px;
    opacity:0.9 ;

}
#divfordesign{
    width: 241.18px;
height: 25px;
margin-left: 170px;
gap: 0px;
border-radius: 70px;
background-color: #8A47F6;
display: inline-block;

}
#p1{
    width: 647.77px;
    height: 16px;
    font-size: 19px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    word-spacing: 5px;
    margin-top: -30px;
    
}

@media (max-width: 991.98px) {
    .navbar-nav {
      text-align: center;
      
    
    }
  
    .navbar-toggler {
      z-index: 1001;
    }
  }
  

@media (max-width:800px){
    .h1{
    
        margin-top:50px;
        margin-left: 15px;
        font-weight: bold;
        width: 300px;
        height: 312px;
        font-size: 47px;
        line-height: 72px;
        
        
    }
    #divfordesign{
    width: 200px;
    height: 15px;
    margin-left: 130px;
    margin-top: -45px;
    display: block;
    border-radius: 70px;
    background-color: #8A47F6;
    
    
    }

    #p1{
        width: 280.77px;
        height: 16px;
        font-size: 15px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
        word-spacing: 5px;
        margin-top: -100px;
        
    }
    #herobutton{
        width: 200px;
        height: 30px;
        padding: 1px;
        margin-top: 6px;
        display: inline-block;
    }
}

#col-lg-6{
    width: 900px;
    height: 1000px;
    margin-top: 15px;
    margin-right: 25px;
    border-radius: 105px;
    
}
#carouselslide{
    margin-left: 350px;
    position: relative;
}

@media (max-width:1860px){
    #col-lg-6{
        
        margin-top: -770px;
       
        
        
    }
}

@media (max-width:1800px){
    #col-lg-6{
        
        margin-top: -770px;
       
        
        
    }
}

@media (max-width:1605px){
    #col-lg-6{
        width: 800px;
        height: 800px;
        margin-top: 15px;
        margin-right: 65px;
        margin-left: 13px;
        
    }
    #carouselslide{
        margin-left: 350px;
    }
}
@media (max-width:800px){
    #col-lg-6{
        width: 800px;
        height: 800px;
        margin-top: 15px;
        margin-right: 65px;
        margin-left: 13px;
        
    }
    #carouselslide{
        margin-left: 200px;
    }
}
@media (max-width:400px){
    #col-lg-6{
        width: 800px;
        height: 800px;
        margin-top: 20px;
        margin-right: 65px;
        margin-left: 13px;
        
    }
    
}

#aboutus1 {
    background-color: #F3EDFE;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    
    overflow-x: hidden;
}

#aboutusbox {
    margin: 50px 0px 0px 50px; 
    width: 100%;
    overflow-x: hidden;
}

#full-height {
    border-radius: 25px; 
    height: 86%; 
    margin-bottom: 10px; 
}

.half-height {
    height: 48%; 
    margin-bottom: -10px;
    
}


.img-container {
    display: flex;
    flex-direction: column;
    height: 87%; 
    justify-content: space-between; 
    

}

.img-fluid {
    object-fit: cover; 
    width: 100%; }

@media (min-width:1920px){
    #aboutus1 {
        background-color: #F3EDFE;
        padding: 20px;
        margin-top: 10px;
        width: 100%;
        overflow-x: hidden;
    }
  
}

    @media (min-width:800px){
        #aboutus1 {
            background-color: #F3EDFE;
            padding: 20px;
            margin-top: 10px;
            width: 100%;
            overflow-x: hidden;
        }
        #full-height {
            border-radius: 25px; 
            height: 92%; 
            margin-bottom: 10px; 
        }
        .half-height {
            height: 100%; 
            margin-bottom: 10px;
        }
        .img-container {
            display: flex;
            flex-direction: column;
            height: 100%; 
            justify-content: space-between; 
        
        }
        
    }
  
        
    


#aboutus{
    width: 100%;
    overflow-x: hidden;
}
#desh5{
    margin-left: 50px;
    margin-top: 25px;
}    
h5 img{
    margin-top: -5px;
    margin-right: 6px;
}
#aboutush1{
    width: 520px;
    height: 104px;
   font-size: 48px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   line-height: 58px;
   word-spacing: 3px;
   max-width: 95%;
   margin-left: 50px;
   
    
}
#desp1 {
    width: 100%; 
    margin-top: 35px;
    margin-left: 50px;
    line-height: 35px;
    text-align: justify;
    word-spacing: 5px;
    max-width: 95%; 
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}
#buttonaboutus{
    width: 100%;
    overflow-x: hidden;
}

@media (min-width: 800px) {
    #desp1 {
        width: 650px;
        margin-top: 85px;
        margin-left: 50px;
        max-width: 88%; 
    }
    #buttonaboutus{
        width: 100%;
        overflow-x: hidden;
    }
    
}

@media (max-width: 799px) and (min-width: 400px) {
   
    #desh5{
        margin-left: 10px;
        margin-top: 25px;
    }    
    h5 img{
        margin-top: -5px;
        margin-right: 6px;
    }
    #aboutush1{
        width: 520px;
        height: 104px;
       font-size: 48px;
       font-family:Arial, Helvetica, sans-serif;
       font-weight: bold;
       line-height: 58px;
       word-spacing: 3px;
       max-width: 95%;
       margin-left: 10px;
       
        
    }
    #desp1 {
        width: auto; 
        margin-top: 50px;
        margin-left: 10px;
        max-width: 90%;
        margin-top: 80px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 3px;
        font-size: 17px;
    }
    #buttonaboutus{
        width: 100%;
        overflow-x: hidden;
    }
    
}

@media (max-width: 399px) {
    #desh5{
        margin-left: 10px;
        margin-top: 25px;
    }    
    h5 img{
        margin-top: -5px;
        margin-right: 6px;
    }
    #aboutush1{
        width: 520px;
        height: 104px;
       font-size: 48px;
       font-family:Arial, Helvetica, sans-serif;
       font-weight: bold;
       line-height: 58px;
       word-spacing: 3px;
       max-width: 95%;
       margin-left: 10px;
       
        
    }
    
    #desp1 {
        width: auto;
        margin-top: 90px;
        margin-left: 10px;
        max-width: 90%;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 17px;
        
    }
    #buttonaboutus{
        width: 100%;
        overflow-x: hidden;
    }
    
}
.p1{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-weight: bold;
}



@media (max-width: 768px) {
    #aboutusbox {
        margin: 30px 0; 
    
    /*protfolio  */
}}

.custom-navbar {
    width: 90%; /* Set navbar width to 90% */
    margin: auto; /* Center the navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to navbar */
    padding: 10px 20px; /* Padding around navbar */
    z-index: 1000; /* Ensure the navbar is on top */
    background-color: white; 
    overflow-x: hidden;
}

.navbar-toggler {
    z-index: 1001; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


#li2{
color: #8A47F6;
text-decoration: underline;
}



/* prices */
#price{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 90%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-top: 20px; 
    overflow-x: hidden;
}
.card {
    flex: 1; 
    z-index: 1;
    margin: 10px; 
    height: auto; 
    min-width: 250px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: none; 
    text-align: center;
}
.card h1 {
    font-size: 2rem; 
    margin-top: 10px; 
    color: black;
}
.card.middle-card {
    background-color: black; 
    color: white; 
    box-shadow: none; 
}
#buttonaboutus1{
    background-color: white;
    color:black;
}
.custom-btn {
    background-color: #fe8c45; 
    color: white; 
    border-radius: 30px; 
    padding-left: 30px; 
    padding-right: 30px;
    margin: 20px 0; 
}
#effectprice{
    
    
   border-radius: 60px;
    opacity: 0.3;
    z-index: 2;
    position:absolute;
    width: 100%;
    overflow-x: hidden;
    margin-top: 150px;
    margin-left:80% ;
}
/* tesimonials */
#desp3{
    width: auto;
    margin-top: 15px;
    line-height: 40px;
    max-width: 90%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
}
#aboutush1two{
    width: 520px;
    height: 104px;
   font-size: 48px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   line-height: 58px;
   word-spacing: 3px;
   max-width: 95%;
   
}
#desh5two{
    
    
    margin-top: 45px;
}
#testimonials{
    background-color: #F3EDFE;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    overflow-x: hidden;
}
#imgt{
    width: 36px;
    height: 33px;
}
#divimg{
    background-color:#dacdf3;
    width:252px ;
    height: 40px;
   
}
#pill{
    margin-left: -10px;
}

@media (min-width:400px){
    #desp2{
        width: auto;
        margin-top: 15px;
        max-width: 90%;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 17px;
    }
    #arrow{
        cursor: pointer;   
       display: flex;
       width: 40px;
       gap: 10px;
       
       }
   
  
}
#arrow{
 cursor: pointer;   
display: flex;
width: 40px;
gap: 10px;
}
/* Instagram Feed */
.feed-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    overflow-x: hidden;
}

.join-button {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.join-button:hover {
    background-color: #ff5722;
}

.feed-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.feed-item {
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}

/* Specific heights based on image ratio */
#formdiv{
    display: flex;
    justify-content: space-between;
}

#form1{

    margin: 0;
    
}
#ta{
    height: 120px;
}
#getit{
    background-color:#F3EDFE;
    width: 400px;
    margin-right: 220px;
    border-radius: 20px;
    margin-top: 20px;
}
#location{
    width: 50px;
}
#locap{
    margin-left: 50px;
    margin-top: -50px;
}
@media (min-width:400px){
    #getit{
        background-color:#F3EDFE;
        width: 500px;
        margin-top: 20px;
    }
}